{{#if (eq typeFilter "spell")}}
    <div class="spellLevel-filter filter-row">
        <label for="spellLevel-filter">{{{localize "ITEM_BROWSER.FilterSpellLevel"}}}</label>
        <select id="spellLevel-filter" name="spellLevel-filter" type="dropdown" placeholder="Filter Spell Level...">
            {{selectOptions additionalFiltersData.spellLevels selected=additionalFiltersData.filters.spellLevelFilter localize=true valueAttr="id" labelAttr="label"}}
        </select>
    </div>
{{/if}}