<div class="type-filter filter-row">
    <label for="type-filter">{{{localize "ITEM_BROWSER.FilterType"}}}</label>
    <select id="type-filter" name="type-filter" type="dropdown" placeholder="Filter Type...">
        {{selectOptions additionalFiltersData.itemTypes selected=additionalFiltersData.filters.typeFilter localize=true valueAttr="id" labelAttr="label"}}
    </select>
</div>