<div class="footer">
    <button data-action="select" {{#unless selectedItem}}disabled{{/unless}}>{{selectButtonString}}</button>
    <button data-action="close">{{{localize "ITEM_BROWSER.Close"}}}</button>
</div>