{{#if useSmallButton}}
<a class="header-control open-item-browser-button" aria-label="{{{localize "ITEM_BROWSER.OpenItemBrowser"}}}" role="button" data-tooltip="ITEM_BROWSER.OpenItemBrowser"><i class="fa-duotone fa-folder-gear fa-lg"></i></a>
{{else}}
<div class="header-item-browser action-buttons flexrow">
    <button class="open-item-browser-button"><i class="fas fa-folder-gear"></i> {{{localize "ITEM_BROWSER.OpenItemBrowser"}}}</button>
</div>
{{/if}}