.item-browser-dialog .window-content {
    padding: 0.3rem;
}
.item-browser-dialog .item-list {
    padding: unset;
}

.item-browser-dialog .item-row-img {
    border: 1px solid var(--color-border-dark);
    border-radius: 2px;
    box-sizing: border-box;
    clear: left;
    float: left;
    object-fit: cover;
    object-position: top;
    height: 50px;
    width: 50px;
    max-width: unset;
}

.item-browser-dialog .filter-panel,
.item-browser-dialog .list-panel,
.item-browser-dialog .search-input {
    border-radius: .25rem;
    box-shadow: 0 0 .25rem .25rem #00000040;
    margin: .25rem;
    overflow-y: auto;
}

.item-browser-dialog .list-panel {
    flex: 1 1;
    overflow-y: scroll;
}

.item-browser-dialog .filter-panel {
    flex: 0 1 250px;
}

.item-browser-dialog .filter-panel h3 {
    margin-top: 10px;
    color: #454545;
    text-shadow: 1px 1px 4px #999999;
}

.item-browser-dialog .filter-row {
    padding: 0.1rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}

.item-browser-dialog main {
    column-count: 2;
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    height: calc(100% - var(--header-height));
    text-align: center;
}

.item-browser-dialog .search-input {
    box-shadow: 0 0 .125rem .125rem #00000040;
    margin: .25rem;
}

.item-browser-dialog .search-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: start;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.item-browser-dialog .search-row label {
    min-width: 20%;
}

.item-browser-dialog .search-row input {
    max-width: 100%;
}

.item-browser-dialog .list-panel table {
    list-style: none;
    margin: 0;
    padding: 0;
    table-layout: fixed;
}

.item-browser-dialog table th {
    padding: 0.1rem 0.2rem;
}

.item-browser-dialog [data-sort-id]:hover {
    text-shadow: 0 0 8px var(--color-shadow-primary);
}

.item-browser-dialog table td {
    padding: 0.1rem 0.2rem;
    line-height: 0;
}

.item-browser-dialog table tr {
    background: #ffffff40;
}

.item-browser-dialog table tr:nth-child(4n-2),
.item-browser-dialog table tr:nth-child(4n-1) {
    background: none;
}

.item-browser-dialog table tr:last-child {
    margin-bottom: 0.25rem;
}

.item-browser-dialog p {
    margin: 0.5em 0;
}

.item-browser-dialog .item-row-text {
    padding: unset;
    margin: unset;
    line-height: normal;
}

.item-browser-dialog .item-cell-name .item-row-text {
    padding: unset;
    text-align: start;
}

.item-browser-dialog .item-cell-expand {
    width: 20px;
}

.item-browser-dialog .item-desc {
    display: revert;
}

.item-browser-dialog .item-desc > td {
    line-height: normal;
    text-align: left;
    padding-left: 15px;
}

.item-browser-dialog .item-option td.item-cell-expand {
    border-right: 2px groove var(--color-border-light-highlight);
}

.item-browser-dialog .item-cell-img {
    width: 55px;
}

.item-browser-dialog .item-cell-name {
    width: 180px;
}

.item-browser-dialog .item-cell-attr {
    width: 50px;
}

.item-browser-dialog .item-cell-type {
    width: 90px;
}

.item-browser-dialog .item-cell-cat {
    width: 120px;
}

.item-browser-dialog .item-cell-price {
    width: 60px;
}

.item-browser-dialog .item-cell-weight {
    width: 60px;
}

.item-browser-dialog .item-cell-damage {
    width: 80px;
}

.item-browser-dialog .item-cell-range {
    width: 100px;
}

.item-browser-dialog .item-cell-rank {
    width: 100px;
}

.item-browser-dialog .item-cell-duration {
    width: 100px;
}

.item-browser-dialog .item-cell-locations {
    width: 100px;
}

.item-browser-dialog .item-cell-ap {
    width: 30px;
}

.item-browser-dialog .item-cell-requirements {
    width: 350px;
}

.item-browser-dialog .item-cell-dndprice {
    width: 80px;
}

.item-browser-dialog .item-cell-dnddamage {
    width: 120px;
    white-space: pre-line;
}

.item-browser-dialog .item-cell-attunement {
    width: 80px;
}

.item-browser-dialog .item-cell-base-weapon {
    width: 80px;
}

.item-browser-dialog .item-cell-equipment-type {
    width: 80px;
}

.item-browser-dialog .item-cell-spellLevel {
    width: 80px;
}

.item-browser-dialog .item-cell-ac {
    width: 80px;
}

.item-browser-dialog .item-cell-target {
    width: 120px;
}

.item-browser-dialog .item-cell-components {
    width: 80px;
}

.item-browser-dialog .item-cell-cast-time {
    width: 80px;
}

.item-browser-dialog .item-cell-school {
    width: 110px;
}

.item-browser-dialog .item-cell-rarity {
    width: 80px;
    text-transform: capitalize;
}

.item-browser-dialog .item-option {
    box-shadow: revert;
    height: 1px;
    position: relative;
}

.item-browser-dialog .item-option .caret {
  content: "\f078";
  font-family: var(--font-awesome);
  font-weight: bold;
  color: var(--color-text-dark-5);
  transition: all 250ms ease;
}

.item-browser-dialog .item-option:hover {
    box-shadow: inset 0 0 0 200px #006cc41c;
}

.item-browser-dialog .item-option.selected {
    background-color: #416482;
    color: #fff;
    box-shadow: inset 0 0 0 200px #006bc44d;
}

.item-browser-dialog input {
    margin: .25rem .25rem .25rem .5rem;
    max-width: 40%;
    min-width: 40%;
}

.item-browser-dialog select {
    margin: .25rem .25rem .25rem .5rem;
    max-width: 50%;
    min-width: 40%;
    text-transform: capitalize;
}

.item-browser-dialog .search input {
    height: 1.75rem;
    padding: .25rem;
}

.item-browser-dialog .footer {
    all: unset;
    align-items: center;
    border-radius: .25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 0;
}

.item-browser-dialog .footer button {
    width: 100%;
    margin-top: .125rem;
}

.item-browser-dialog .wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    background: url(../ui/parchment.jpg) repeat;
    padding: 8px;
    color: var(--color-text-dark-primary);
    overflow-y: auto;
    overflow-x: hidden;
}

.header-item-browser .open-item-browser-button {
    max-width: fit-content;
}

.header-item-browser {
    justify-content: space-evenly;
}